
@{
    ViewBag.Title = "Đổi mật khẩu";
}
<legend>Đổi mật khẩu</legend>

    <form class="form-horizontal" method="post">
        <fieldset>
            <!-- Form Name -->
            
            <!-- Password input-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="piCurrPass">Mật khẩu cũ</label>
                <div class="col-md-4">
                    <input id="oldPass" name="oldPass" type="password" placeholder="" class="form-control input-md" required="">

                </div>
            </div>
            <!-- Password input-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="piNewPass">Mật khẩu mới</label>
                <div class="col-md-4">
                    <input id="newPass" name="newPass" type="password" placeholder="" class="form-control input-md" required="">

                </div>
            </div>
            
            <!-- Button (Double) -->
            <div class="form-group">
                <label class="col-md-4 control-label" for="bCancel"></label>
                <div class="col-md-8">
                    <button id="changePass" name="changePass" class="btn btn-success" onclick="changepass">Xác nhận đổi mật khẩu</button>
                </div>
            </div>
        </fieldset>
    </form>

<script>
    function changepass() {
        var oldpass = document.getElementById("oldPass").value;
        var newpass = document.getElementById("newPass").value;
        var userId = @Session["USER_ID"];
        $.ajax({
            method: "POST",
            url: "/USERs/DoiMatKhau",
            data: {id: userId, oldPassword: oldpass, newPassword: newpass},
            success: function (data) {
                $("#msg").html(data);
            }
        })
    }


</script>


