
@{
    ViewBag.Title = "Thông báo";
}

<h2 style="padding-top:15px"> Thông báo từ Admin </h2>
<div class="alert alert-danger"> Trang này đang trong quá trình xây dựng hoặc Bạn không có quyền truy cập chức năng này! Hãy liên hệ với Admin để biết thêm chi tiết</div>
<div class="col-md-offset-5 col-md-2"><button class="btn btn-lg btn-info" onclick="javascript:history.back()"> Quay lại</button> </div>

