*{
    margin: 0px;
    padding: 0px;
}
#customer tr th{
    border: 1px solid black;
    border-top: 1px solid black !important;
    border-collapse: collapse;
    text-align: center;
    color: white;
    background: #4285F4;
    padding-top: 10px;
}
#customer tr td{
    border: 1px solid black;
    border-top: 1px solid black !important;
    border-collapse: collapse;
    text-align: center;
    color: black;
    padding-top: 5px;
}
.h2{
    text-align: center;
}
a img{
    height: 30px;
}