*{
    margin: 0px;
    padding: 0px;
}
.h2{
    text-align: center;
}
.form-horizontal{
    border: 10px solid #4285F4;
    border-radius: 20px;
    padding-top: 10px;
    width: 600px;
    margin: auto
}
.form-group:last-child{
    border-top: 10px solid #4285F4;
    height: 40px;
}
.form-group a img{
    height: 30px;
    float: left;
}
#submit{
    background: url(../../../../Content/images/1484757847_ic_system_update_tv_48px.png) no-repeat ;
    background-size: 100%;
    border: none;
    float: right;
    height: 40px;
    width: 40px;
}