*{
    margin: 0px;
    padding: 0px;
}
.h1{
    text-align: center;
}
a{
    text-decoration: none;
}
.center p{
    font-weight: bold;
    font-size: 15px;
    color: #FF5E00;
}
.center span{
    color: blue;
}
.creat-link{
    padding-top:10px; 
    padding-bottom:10px;    
}
.creat-link a{
    font-weight:bold; 
    color: blue; 
}

.main{
    overflow-x: auto;
}
.main th{
    text-align: center;
    white-space: nowrap;
    vertical-align: center;
    font-weight: bold;
    font-size: 15px;
}
.main .note{
    color: red;
}
.main td{
    text-align: center;
    white-space: nowrap;
    vertical-align: center;
}
.main td p{
    display: inline-block;
}
.main td .details{
    padding: 0px 4px 0px 4px;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
}
.main td p a:hover{
    color: blue;
    font-weight: bold;
}

th{
    color: black;
}
.table-bordered>tbody>tr>th{
    border: 1px solid #ddd;
    background: #5d91ed;
    color: white;
}
.table-bordered>tbody>tr>td{
    border: 1px solid #ddd;
    vertical-align: middle;
}

a img{
    height: 30px;
}
.panel-primary{
    border: none;
}
.main td img{
    height: 50px;
    width: 50px;
}
.main td .image{
    width: 25px;
    height: 25px;
    margin-bottom: 10px;
}
.icon-create{
    margin-right: 5px;
}
.icon-list{
    font-size: 25px;
}
.create{
    background: #449D44;
    color: white;
}
.icon{
    padding-right: 5px;
}
.btn_icon_edit{
    background: #449D44;
    color: white;
}
.btn_icon_details{
    background: #4862A3;
    color: white;
}
.btn_icon_delete{
    background: #DE524D;
    color: white;
}
.btn-default{
    font-size: 11px;
}