*{
    margin: 0px;
    padding: 0px;
}
.content{
    border: 2px solid black;
    margin-bottom: 20px;
}
.content h4{
    text-align: center;
    padding-top: 10px;
}
.content hr{
    border: 0.5px solid black;
}
.content .dl-horizontal{
    width: 30%;
    margin: auto;
    text-align: center;
}
.note{
    color: red;
}
.link a:hover{
    color: red;
}
