*{
    margin: 0px;
    padding: 0px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 14px;
}
.h2{
    text-align: center;
}
a{
    text-decoration: none;
}
.center p{
    font-weight: bold;
    font-size: 15px;
    color: #FF5E00;
}
.center span{
    color: blue;
}
.creat-link{
    padding-top:10px; 
    padding-bottom:10px;    
}
.creat-link a{
    font-weight:bold; 
    color: blue; 
}

.main{
    overflow-x: auto;
}
.main th{
    text-align: center;
    white-space: nowrap;
    vertical-align: center;
    font-weight: bold;
    font-size: 15px;
}
.main .note{
    color: red;
}
.main td{
    text-align: center;
    white-space: nowrap;
    vertical-align: center;
}
.main td p{
    display: inline-block;
}
.main td .details{
    padding: 0px 4px 0px 4px;
    border-left: 2px solid black;
    border-right: 2px solid black;
}
.main td p a:hover{
    color: blue;
    font-weight: bold;
}
th{
    color: black;
}
.table-bordered>tbody>tr>th{
    border-right: 1px solid white;
    border-bottom: 1px solid white;
    background:  #4285F4;
    color: white;
}
.table-bordered>tbody>tr>td{
    border: 1px solid #EAE7E7;
}
.fa{
    padding-right: 5px;
}
a img{
    height: 30px;
}
.panel-primary{
    border: none;
}
.icon-create{
    margin-right: 5px;
}
.icon-list{
    font-size: 25px;
}
.create{
    background: #449D44;
    color: white;
}
.btn-default{
    font-size: 11px;
}
.btn_icon_edit{
    background: #449D44;
    color: white;
}
.btn_icon_details{
    background: #4862A3;
    color: white;
}
.btn_icon_delete{
    background: #DE524D;
    color: white;
}
.create{
    font-size: 16px !important;
}