@model IEnumerable<SYSTEM_MANAGEMENT.Models.PRODUCT_CATEGORIES>

@{
    ViewBag.Title = "Index";
}
<link href="~/Areas/HopLong/Style/Product_Cate/Product_cateIndex.css" rel="stylesheet"/>
<h2 style="text-align:center">Nhóm hàng</h2>

<a href="~/HopLong/PRODUCT_CATEGORIES/Create" class="btn create btn-default"><span class="glyphicon icon-create glyphicon-plus"></span>Thêm mới</a>

<body>
    <div class="container">

        <div class="creatediv1 marginTop30">

            <div class="row margin-top-50">
                <div class="col-md-12">
                    <div class="panel panel-primary filterable">
                        <div class="main">
                            <table class="span12" border="1">
                                <div class="bg tablescroll">
                                    <table class="table table-bordered table-striped">
                                        <tr class="filters">
                                            <th>
                                                Mã nhóm
                                            </th>
                                            <th>
                                                Tên nhóm hàng
                                            </th>
                                            <th>
                                                Mô tả
                                            </th>
                                            <th> Tác vụ</th>
                                        </tr>

                                        @foreach (var item in Model)
                                        {
                                            <tr>
                                                <td>
                                                    @item.MA_NHOM_HANG
                                                </td>
                                                <td>
                                                    @item.TEN_NHOM_HANG
                                                </td>
                                                <td>
                                                    @item.MO_TA
                                                </td>
                                                <td>
                                                    <a href="/HopLong/PRODUCT_CATEGORIES/Edit/@item.MA_NHOM_HANG" class="btn btn_icon_edit btn-default"><span class="fa icon fa-pencil-square-o" aria-hidden="true"></span>Sửa</a> &nbsp;&nbsp;
                                                    <a href="/HopLong/PRODUCT_CATEGORIES/Details/@item.MA_NHOM_HANG" class="btn btn_icon_details btn-default"><span class="fa icon fa-info-circle" aria-hidden="true"></span>Chi tiết</a> &nbsp;&nbsp;
                                                    <a href="/HopLong/PRODUCT_CATEGORIES/Delete/@item.MA_NHOM_HANG" class="btn btn_icon_delete btn-default"><span class="fa icon fa-trash-o" aria-hidden="true"></span>Xóa</a> &nbsp;&nbsp;
                                                    <a href="/HopLong/PRODUCT_CATEGORIES/list_product_category_details/@item.MA_NHOM_HANG" class="btn btn_icon_list btn-default"><span class="fa icon fa-list" aria-hidden="true"></span>Danh sách chi tiết nhóm hàng</a> &nbsp;&nbsp;
                                                </td>
                                            </tr>
                                        }
                                    </table>
                                </div>
                            </table>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
</body>