*{
    margin: 0px;
    padding: 0px;
}
.h2{
    text-align: center;
}
.h4{
    text-align: center;
}
hr{
    border: 0.5px solid black;
}
.notebox{
    border: 2px solid black;
    width: 80%;
    margin: auto;
}
.border-top{
    border-top: 2px solid black;
    height: 30px;
}
#submit{
    background: url(../../images/delete_icon.png) no-repeat ;
    background-size: 100%;
    border: none;
}
.form-actions a img{
    height: 30px;
    float: left;
}
