*{
    margin: 0px;
    padding: 0px;
}
#title{
    font-family:'Times New Roman';
     font-size: 28px; 
     color:blue;
}
.panel-title span{
    font-size: 10px;
}
.back,.edit{
    display: inline-block;
    float: left;
}
.top{
    width: 50%
}
.back{
    margin-left: 110px;
}
.fa{
    margin-right: 5px;
}
.btn_icon_edit{
    background: #449D44;
    color: white;
}
.btn_icon_back{
    background: #E6E6E6;
}