*{
    margin: 0px;
    padding: 0px;
}
.form-horizontal h2{
    color: blue; 
    font-family:'Times New Roman'; 
    font-weight:bold;
}
.form-group .text{
    font-size:14px; 
    font-weight:bold; 
    font-family:'Times New Roman';
}
.content .form-horizontal{
    border: 4px solid #007ACC;
    margin-bottom: 30px;
}
.content .form-horizontal hr{
    border: 2px solid #007AAC;
}
button, .buttons, .btn, .modal-footer .btn+.btn {
    background-color:blue;
    color:white; 
    font-family:'Times New Roman';
}