*{
    margin: 0px;
    padding: 0px;
}
.form-horizontal h2{
    color: blue; 
    font-family:'Times New Roman'; 
    font-weight:bold;
}
.form-group .text{
    font-size:14px; 
    font-weight:bold; 
    font-family:'Times New Roman';
}
.content .form-horizontal{
    border: 4px solid #007ACC;
    margin-bottom: 30px;
    border-radius: 10px;
}
.content .form-horizontal hr{
    border: 2px solid #007AAC;
    
}
button, .buttons, .btn, .modal-footer .btn+.btn {
    background-color: aqua;
    color:black; 
    font-weight: bold;
    font-family:'Times New Roman';
}
.form-group a img{
    height: 30px;
}
#submit{
    background: url(../../images/1484757847_ic_system_update_tv_48px.png) no-repeat ;
    background-size: 100%;
    margin-top: 5px;
}
.form-group:last-child{
    border-top: 4px solid #007ACC;
    padding-top: 0px;
    height: 30px;
}