*{
    margin: 0px;
    padding: 0px;
}
.content{
    margin-top: 30px;
    border: 1px solid #169F85;
    border-radius: 5px;
    background: #169F85;
}
.content .thumbnail{
    height: 220px;
    border: 1px solid #169F85;
    margin: 5px 0px;
}
.content .thumbnail .btn_user a{
    color: white;
}