*{
    margin: 0px;
    padding: 0px;
}
.edit{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
}
.form-horizontal .control-label {
    text-align: left;
    font-weight: normal;
}
.form-horizontal .nopadding{
    padding-top: 0px;
}
.form-horizontal .form-group{
    margin-top: 25px;
}
hr{
    border: 0.5px solid black;
}
.form-horizontal {
    border: 2px solid black;
    margin-bottom: 10px;
}
.form-horizontal h4{
    text-align: center;
    font-weight: bold;
    padding-top: 10px;
}


.backlink a:hover{
    color: red;
}
.form-group:last-child{
    border-top: 2px solid black;
    padding-top: 15px;
}
.form-group a img{
    height: 30px;
    float: left;
}
#submit{
    background: url(../../images/1484757847_ic_system_update_tv_48px.png) no-repeat ;
    background-size: 100%;
    border: none;
    float: right;
}