*{
    margin: 0px;
    padding: 0px;
}
h2{
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
form #container_cate{
    width: 50%;
    margin: auto;
    height: 220px;
    padding-left: 10px;
    margin-bottom: 20px;
    margin-top: 20px;
    box-shadow: 0px 1px 10px 3px #888888;
    font-family: Arial, Helvetica, sans-serif;
}
.editcontent{
    width: 100%;
    height: auto;
    float: left;
    margin: auto;
}
.action{
    float: left;
    width: 80%;
    height: auto;
    margin: auto;
    margin-top: 20px;
}
.editcontent .row{
    width: 100%;
    height: 50px;
    padding-top: 20px;
    padding-left: 10px;
}
.editcontent .row .col{
    display: inline-block;
    width: 30%;
    float: left;
    height: 100%;
    padding-top: 7px;
}
.editcontent .row .colinput{
    display: inline-block;
    width: 69%;
    float: left;
    height: 100%;
}
.editcontent .row .colinput input{
    width: 90%;
    height: 30px;
    padding-left: 5px;
}
.form-group .btn_save{
    padding-right: 5px;
}
.col-md-offset-2{
    text-align: right;
}
.btn_icon_back{
    background: #ACBAC3;
    color: white;
}
.icon_back{
    padding-right: 5px;
}
.btn_icon_create{
    background: #449D44;
    color: white;
}
.btn_icon_delete{
    background: red;
    color: white;
}