
@{
    ViewBag.Title = "Index";
}


<!DOCTYPE html>
<html>
<head>

    <link href="http://netdna.bootstrapcdn.com/bootswatch/3.0.3/bootstrap/bootstrap.min.css" rel="stylesheet" title="theme">
    <link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet">
    <link href="~/Views/HeThong/Hethong.css" rel="stylesheet"/>

</head>
<body>
    <div class="container" style="width:990px;">

        <div class="panel panel-primary" style="border:none;">
            <div class="panel-heading" style="background-color: lightskyblue;color: white;border-radius: 5px;border:none;">
                <h3 class="panel-title">Công ty</h3>
            </div>
            <div class="panel-body">

                <div class="col-lg-2 dash-widget" style="padding-bottom: 20px">
                    <div class="label-primary" style="padding: 5px; border-radius: 6px;background: none;">
                        <a href="/COMPANY_CATEGORIES/Index">
                            <span class="btn btn-primary btn-lg btn-block" role="button" style="padding: 2px;border: none;background-color: white;color:black;">
                                <div><img src="~/Content/images/company_factory_group_office-512.png" width="57" height="55"/></div>
                                <div class="icon-label">Loại công ty</div>
                            </span>
                        </a>
                    </div>
                </div>

                <div class="col-lg-2 dash-widget" style="padding-bottom: 20px">
                    <div class="label-primary" style="padding: 5px; border-radius: 6px;background: none;">
                        <a href="/COMPANies/Index">
                            <span class="btn btn-primary btn-lg btn-block" role="button" style="padding: 2px;border: none;background-color: white;color:black;">
                                <div><img src="~/Content/images/congty.png" width="57" height="55"/></div>
                                <div class="icon-label">Công ty</div>
                            </span>
                        </a>
                    </div>
                </div>

               
                <div class="col-lg-2 dash-widget" style="padding-bottom: 20px">
                    <div class="label-primary" style="padding: 5px; border-radius: 6px;background: none;">
                        <a href="/DEPARTMENTs/Index">
                            <span class="btn btn-primary btn-lg btn-block" role="button" style="padding: 2px;border: none;background-color: white;color:black;">
                                <div><img src="~/Content/images/phong-ban.png" width="57" height="55"/></div>
                                <div class="icon-label">Phòng ban</div>
                            </span>
                        </a>
                    </div>
                </div>

                <div class="col-lg-2 dash-widget" style="padding-bottom: 20px">
                    <div class="label-primary" style="padding: 5px; border-radius: 6px;background: none;">
                        <a href="/USERs/Index">
                            <span class="btn btn-primary btn-lg btn-block" role="button" style="padding: 2px;border: none;background-color: white;color:black;">
                                <div><img src="~/Content/images/user.png" height="55" width="57"/></div>
                                <div class="icon-label">Người dùng</div>
                            </span>
                        </a>
                    </div>
                </div>


            </div>
        </div>
    </div>

    <div class="container" style="width:990px;">

        <div class="panel panel-primary" style="border:none;">
            <div class="panel-heading" style="background-color: lightskyblue;color: white;border-radius: 5px;border:none;">
                <h3 class="panel-title">Quản lý chung</h3>
            </div>
            <div class="panel-body">

                <div class="col-lg-2 dash-widget" style="padding-bottom: 20px">
                    <div class="label-primary" style="padding: 5px; border-radius: 6px;background: none;">
                        <a href="/LIST_CONTROLLERS/Index">
                            <span class="btn btn-primary btn-lg btn-block" role="button" style="padding: 2px;border: none;background-color: white;color:black;">
                                <div><img src="~/Content/images/setting.png" width="57" height="55"/></div>
                                <div class="icon-label">Chức năng</div>
                            </span>
                        </a>
                    </div>
                </div>

                <div class="col-lg-2 dash-widget" style="padding-bottom: 20px">
                    <div class="label-primary" style="padding: 5px; border-radius: 6px;background: none;">
                        <a href="/GHI_CHU_CONG_VIEC/Danh_Sach_Ghi_Chu">
                            <span class="btn btn-primary btn-lg btn-block" role="button" style="padding: 2px;border: none;background-color: white;color:black;">
                                <div><img src="~/Content/images/giao-viec.png" height="55" width="57"/></div>
                                <div class="icon-label">Giao việc</div>
                            </span>
                        </a>
                    </div>
                </div>

            </div>
        </div>
    </div>



    <div class="container" style="width:990px;">

        <div class="panel panel-primary" style="border:none;">
            <div class="panel-heading" style="background-color: lightskyblue;color: white;border-radius: 5px;border:none;">
                <h3 class="panel-title">Import file</h3>
            </div>
            <div class="panel-body">

                <div class="col-lg-2 dash-widget" style="padding-bottom: 20px">
                    <div class="label-primary" style="padding: 5px; border-radius: 6px;background: none;">
                        <a href="/ImportBangLuong/Index">
                            <span class="btn btn-primary btn-lg btn-block" role="button" style="padding: 2px;border: none;background-color: white;color:black;">
                                <div class="fa fa-upload fa-3x"></div>
                                <div class="icon-label">Thêm bảng lương</div>
                            </span>
                        </a>
                    </div>
                </div>

                <div class="col-lg-2 dash-widget" style="padding-bottom: 20px">
                    <div class="label-primary" style="padding: 5px; border-radius: 6px;background: none;">
                        <a href="/ImportBangLuong/Update">
                            <span class="btn btn-primary btn-lg btn-block" role="button" style="padding: 2px;border: none;background-color: white;color:black;">
                                <div class="fa fa-edit fa-3x"></div>
                                <div class="icon-label">Sửa bảng lương</div>
                            </span>
                        </a>
                    </div>
                </div>

                <div class="col-lg-2 dash-widget" style="padding-bottom: 20px">
                    <div class="label-primary" style="padding: 5px; border-radius: 6px;background: none;">
                        <a href="/ImportBangChamCong/Index">
                            <span class="btn btn-primary btn-lg btn-block" role="button" style="padding: 2px;border: none;background-color: white;color:black;">
                                <div class="fa fa-upload fa-3x"></div>
                                <div class="icon-label">Thêm chấm công</div>
                            </span>
                        </a>
                    </div>
                </div>

                <div class="col-lg-2 dash-widget" style="padding-bottom: 20px">
                    <div class="label-primary" style="padding: 5px; border-radius: 6px;background: none;">
                        <a href="/ImportBangChamCong/Update">
                            <span class="btn btn-primary btn-lg btn-block" role="button" style="padding: 2px;border: none;background-color: white;color:black;">
                                <div class="fa fa-edit fa-3x"></div>
                                <div class="icon-label">Sửa chấm công</div>
                            </span>
                        </a>
                    </div>
                </div>

                <div class="col-lg-2 dash-widget" style="padding-bottom: 20px">
                    <div class="label-primary" style="padding: 5px; border-radius: 6px;background: none;">
                        <a href="/ImportUser/Index">
                            <span class="btn btn-primary btn-lg btn-block" role="button" style="padding: 2px;border: none;background-color: white;color:black;">
                                <div class="fa fa-users fa-3x"></div>
                                <div class="icon-label">Thêm người dùng</div>
                            </span>
                        </a>
                    </div>
                </div>
               
                <div class="col-lg-2 dash-widget" style="padding-bottom: 20px">
                    <div class="label-primary" style="padding: 5px; border-radius: 6px;background: none;">
                        <a href="/ImportUser/Update">
                            <span class="btn btn-primary btn-lg btn-block" role="button" style="padding: 2px;border: none;background-color: white;color:black;">
                                <div class="fa fa-user fa-3x"></div>
                                <div class="icon-label"> Sửa người dùng</div>
                            </span>
                        </a>
                    </div>
                </div>

                <div class="col-lg-2 dash-widget" style="padding-bottom: 20px">
                    <div class="label-primary" style="padding: 5px; border-radius: 6px;background: none;">
                        <a href="/ImportUser/Import_UserMetas">
                            <span class="btn btn-primary btn-lg btn-block" role="button" style="padding: 2px;border: none;background-color: white;color:black;">
                                <div class="fa fa-users fa-3x"></div>
                                <div class="icon-label">Thêm User metas</div>
                            </span>
                        </a>
                    </div>
                </div>

                <div class="col-lg-2 dash-widget" style="padding-bottom: 20px">
                    <div class="label-primary" style="padding: 5px; border-radius: 6px;background: none;">
                        <a href="/ImportUser/Update_UserMetas">
                            <span class="btn btn-primary btn-lg btn-block" role="button" style="padding: 2px;border: none;background-color: white;color:black;">
                                <div class="fa fa-user fa-3x"></div>
                                <div class="icon-label"> Sửa User Metas</div>
                            </span>
                        </a>
                    </div>
                </div>


            </div>
        </div>
    </div>
</body>
</html>

