
@{
    ViewBag.Title = "Index";
}


<!DOCTYPE html>
<html>
<head>

    <link href="http://netdna.bootstrapcdn.com/bootswatch/3.0.3/bootstrap/bootstrap.min.css" rel="stylesheet" title="theme">
    <link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet">

</head>
<body>
    <div class="container" style="width:990px;">

        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Công ty</h3>
            </div>
            <div class="panel-body">

                <div class="col-lg-2 dash-widget" style="padding-bottom: 20px">
                    <div class="label-primary" style="padding: 5px; border-radius: 6px;">
                        <a href="/COMPANY_CATEGORIES/Index">
                            <span class="btn btn-primary btn-lg btn-block" role="button" style="padding: 2px;">
                                <div class="fa fa-tags fa-3x"></div>
                                <div class="icon-label">Loại công ty</div>
                            </span>
                        </a>
                        <button class="btn btn-inverse btn-block" style="height: 40px;">Name Name</button>
                    </div>
                </div>

                <div class="col-lg-2 dash-widget" style="padding-bottom: 20px">
                    <div class="label-primary" style="padding: 5px; border-radius: 6px;">
                        <a href="/COMPANies/Index">
                            <span class="btn btn-primary btn-lg btn-block" role="button" style="padding: 2px;">
                                <div class="fa fa-list-alt fa-3x"></div>
                                <div class="icon-label">Công ty</div>
                            </span>
                        </a>
                        <button class="btn btn-inverse btn-block" style="height: 40px;">Name Name</button>
                    </div>
                </div>

               
                <div class="col-lg-2 dash-widget" style="padding-bottom: 20px">
                    <div class="label-primary" style="padding: 5px; border-radius: 6px;">
                        <a href="/DEPARTMENTs/Index">
                            <span class="btn btn-primary btn-lg btn-block" role="button" style="padding: 2px;">
                                <div class="fa fa-cubes fa-3x"></div>
                                <div class="icon-label">Phòng ban</div>
                            </span>
                        </a>
                        <button class="btn btn-inverse btn-block" style="height: 40px;">Name Name</button>
                    </div>
                </div>

                <div class="col-lg-2 dash-widget" style="padding-bottom: 20px">
                    <div class="label-primary" style="padding: 5px; border-radius: 6px;">
                        <a href="/USERs/Index">
                            <span class="btn btn-primary btn-lg btn-block" role="button" style="padding: 2px;">
                                <div class="fa fa-user fa-3x"></div>
                                <div class="icon-label">Người dùng</div>
                            </span>
                        </a>
                        <button class="btn btn-inverse btn-block" style="height: 40px;">Name Name</button>
                    </div>
                </div>


            </div>
        </div>
    </div>

    <div class="container" style="width:990px;">

        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Quản lý chung</h3>
            </div>
            <div class="panel-body">

                <div class="col-lg-2 dash-widget" style="padding-bottom: 20px">
                    <div class="label-primary" style="padding: 5px; border-radius: 6px;">
                        <a href="/LIST_CONTROLLERS/Index">
                            <span class="btn btn-primary btn-lg btn-block" role="button" style="padding: 2px;">
                                <div class="fa fa-cogs fa-3x"></div>
                                <div class="icon-label">Chức năng</div>
                            </span>
                        </a>
                        <button class="btn btn-inverse btn-block" style="height: 40px;">Name Name</button>
                    </div>
                </div>

                <div class="col-lg-2 dash-widget" style="padding-bottom: 20px">
                    <div class="label-primary" style="padding: 5px; border-radius: 6px;">
                        <a href="/GHI_CHU_CONG_VIEC/Danh_Sach_Ghi_Chu">
                            <span class="btn btn-primary btn-lg btn-block" role="button" style="padding: 2px;">
                                <div class="fa fa-external-link-square fa-3x"></div>
                                <div class="icon-label">Giao việc</div>
                            </span>
                        </a>
                        <button class="btn btn-inverse btn-block" style="height: 40px;">Name Name</button>
                    </div>
                </div>

            </div>
        </div>
    </div>



    <div class="container" style="width:990px;">

        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Import file</h3>
            </div>
            <div class="panel-body">

                <div class="col-lg-2 dash-widget" style="padding-bottom: 20px">
                    <div class="label-primary" style="padding: 5px; border-radius: 6px;">
                        <a href="/ImportBangLuong/Index">
                            <span class="btn btn-primary btn-lg btn-block" role="button" style="padding: 2px;">
                                <div class="fa fa-upload fa-3x"></div>
                                <div class="icon-label">Thêm bảng lương</div>
                            </span>
                        </a>
                        <button class="btn btn-inverse btn-block" style="height: 40px;">Name Name</button>
                    </div>
                </div>

                <div class="col-lg-2 dash-widget" style="padding-bottom: 20px">
                    <div class="label-primary" style="padding: 5px; border-radius: 6px;">
                        <a href="/ImportBangLuong/Update">
                            <span class="btn btn-primary btn-lg btn-block" role="button" style="padding: 2px;">
                                <div class="fa fa-edit fa-3x"></div>
                                <div class="icon-label">Sửa bảng lương</div>
                            </span>
                        </a>
                        <button class="btn btn-inverse btn-block" style="height: 40px;">Name Name</button>
                    </div>
                </div>

                <div class="col-lg-2 dash-widget" style="padding-bottom: 20px">
                    <div class="label-primary" style="padding: 5px; border-radius: 6px;">
                        <a href="/ImportBangChamCong/Index">
                            <span class="btn btn-primary btn-lg btn-block" role="button" style="padding: 2px;">
                                <div class="fa fa-upload fa-3x"></div>
                                <div class="icon-label">Thêm chấm công</div>
                            </span>
                        </a>
                        <button class="btn btn-inverse btn-block" style="height: 40px;">Name Name</button>
                    </div>
                </div>

                <div class="col-lg-2 dash-widget" style="padding-bottom: 20px">
                    <div class="label-primary" style="padding: 5px; border-radius: 6px;">
                        <a href="/ImportBangChamCong/Update">
                            <span class="btn btn-primary btn-lg btn-block" role="button" style="padding: 2px;">
                                <div class="fa fa-edit fa-3x"></div>
                                <div class="icon-label">Sửa chấm công</div>
                            </span>
                        </a>
                        <button class="btn btn-inverse btn-block" style="height: 40px;">Name Name</button>
                    </div>
                </div>

                <div class="col-lg-2 dash-widget" style="padding-bottom: 20px">
                    <div class="label-primary" style="padding: 5px; border-radius: 6px;">
                        <a href="/ImportUser/Index">
                            <span class="btn btn-primary btn-lg btn-block" role="button" style="padding: 2px;">
                                <div class="fa fa-users fa-3x"></div>
                                <div class="icon-label">Thêm người dùng</div>
                            </span>
                        </a>
                        <button class="btn btn-inverse btn-block" style="height: 40px;">Name Name</button>
                    </div>
                </div>
               
                <div class="col-lg-2 dash-widget" style="padding-bottom: 20px">
                    <div class="label-primary" style="padding: 5px; border-radius: 6px;">
                        <a href="/ImportUser/Update">
                            <span class="btn btn-primary btn-lg btn-block" role="button" style="padding: 2px;">
                                <div class="fa fa-user fa-3x"></div>
                                <div class="icon-label"> Sửa người dùng</div>
                            </span>
                        </a>
                        <button class="btn btn-inverse btn-block" style="height: 40px;">Name Name</button>
                    </div>
                </div>

                <div class="col-lg-2 dash-widget" style="padding-bottom: 20px">
                    <div class="label-primary" style="padding: 5px; border-radius: 6px;">
                        <a href="/ImportUser/Import_UserMetas">
                            <span class="btn btn-primary btn-lg btn-block" role="button" style="padding: 2px;">
                                <div class="fa fa-users fa-3x"></div>
                                <div class="icon-label">Thêm User metas</div>
                            </span>
                        </a>
                        <button class="btn btn-inverse btn-block" style="height: 40px;">Name Name</button>
                    </div>
                </div>

                <div class="col-lg-2 dash-widget" style="padding-bottom: 20px">
                    <div class="label-primary" style="padding: 5px; border-radius: 6px;">
                        <a href="/ImportUser/Update_UserMetas">
                            <span class="btn btn-primary btn-lg btn-block" role="button" style="padding: 2px;">
                                <div class="fa fa-user fa-3x"></div>
                                <div class="icon-label"> Sửa User Metas</div>
                            </span>
                        </a>
                        <button class="btn btn-inverse btn-block" style="height: 40px;">Name Name</button>
                    </div>
                </div>


            </div>
        </div>
    </div>
</body>
</html>

