@model IEnumerable<SYSTEM_MANAGEMENT.Models.DEPARTMENT>

@{
    ViewBag.Title = "Danh sách phòng ban";
}
<link href="~/Content/css/Departments/indexDepart.css" rel="stylesheet" type="text/css"/>
<h2>PHÒNG BAN</h2>

<p class="create">
    @Html.ActionLink("Tạo mới", "Create")
</p>
<table class="table" border="1">
    <tr class="title">
        <th>
            Tên Phòng ban
        </th>
        <th>
            Trưởng phòng
        </th>
        <th>
            Ghi chú
        </th>
        <th> Chức năng</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.DEPARTMENT_NAME)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.USER.FULLNAME)
        </td>
        <td>            
            @Html.DisplayFor(modelItem => item.NOTED)
        </td>
        <td style="text-align:center; font-size: 38;">
            <a href="/DEPARTMENTs/Edit/@item.DEPARTMENT_ID"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a> &nbsp;&nbsp;&nbsp;
            <a href="/DEPARTMENTs/Details/@item.DEPARTMENT_ID"><i class="fa fa-info-circle" aria-hidden="true"></i></a> &nbsp;&nbsp;&nbsp;
            <a href="/DEPARTMENTs/Delete/@item.DEPARTMENT_ID"><i class="fa fa-trash-o " onclick="return confirm("Bạn có chắc muốn xóa không?")" aria-hidden="true"></i></a> &nbsp;&nbsp;&nbsp;
            <a href="/DEPARTMENTs/Department_Users/@item.DEPARTMENT_ID"><i class="fa fa-list" aria-hidden="true"></i></a> &nbsp;&nbsp;&nbsp;          
        </td>
    </tr>
}

</table>
