@model IEnumerable<SYSTEM_MANAGEMENT.Models.DEPARTMENT>

@{
    ViewBag.Title = "Index";
}
<link href="~/Content/css/Departments/indexDepart.css" rel="stylesheet"/>
<h2 class="h2">PHÒNG BAN</h2>

<a href="~/DEPARTMENTs/Create" class="btn create btn-default"><span class="glyphicon icon-create glyphicon-plus"></span>Thêm mới</a>

<body>
    <div class="container">

        <div class="creatediv1 marginTop30">

            <div class="row margin-top-50">
                <div class="col-md-12">
                    <div class="panel panel-primary filterable">
                        <div class="main">
                            <table class="span12" border="1">
                                <div class="bg tablescroll">
                                    <table class="table table-bordered table-striped">
                                        <tr class="filters">
                                            <th>
                                                TÊN PHÒNG BAN
                                            </th>
                                            <th>
                                                GHI CHÚ
                                            </th>
                                            <th>
                                                TÊN CÔNG TY
                                            </th>
                                            <th>
                                                USERNAME
                                            </th> 
                                            <th>
                                                <em class="fa fa-cog"></em>
                                            </th>
                                        </tr>

                                        @foreach (var item in Model)
                                        {
                                            <tr>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.DEPARTMENT_NAME)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.NOTED)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.COMPANY.COMPANY_NAME)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.USER.USERNAME)
                                                </td>
                                                <td>
                                                    <a href="/DEPARTMENTs/Edit/@item.DEPARTMENT_ID"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a> &nbsp;&nbsp;&nbsp;
                                                    <a href="/DEPARTMENTs/Details/@item.DEPARTMENT_ID"><i class="fa fa-info-circle" aria-hidden="true"></i></a> &nbsp;&nbsp;&nbsp;
                                                    <a href="/DEPARTMENTs/Delete/@item.DEPARTMENT_ID"><i class="fa fa-trash-o " onclick="return confirm('Bạn có chắc muốn xóa không?')" aria-hidden="true"></i></a> &nbsp;&nbsp;&nbsp;
                                                    <a href="/DEPARTMENTs/Department_Users/@item.DEPARTMENT_ID"><i class="fa fa-list " aria-hidden="true"></i></a> &nbsp;&nbsp;&nbsp;
                                                </td>
                                            </tr>
                                        }
                                    </table>
                                </div>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</body>