
@{
    ViewBag.Title = "Import User Metas";
}

<h1 style="font-family: 'Times New Roman'; color:darkblue">Import thông tin người dùng</h1>
<br />
@using (Html.BeginForm("Import_UserMetas", "ImportUser", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <input type="file" name="file" />
    <br />
    <input type="submit" value="Lưu dữ liệu" />
    <p style="color:blue">@ViewBag.Message</p>
        <p style="color:red">@ViewBag.Error</p>
}

