
@{
    ViewBag.Title = "Import người dùng";
}

<h2>Import Users by excel file</h2>

@using (Html.BeginForm("Index", "ImportUser", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <input type="file" name="file" style="width:400px " />
    <br />
    <input type="submit" value="Save" />
    <p style="color:blue">@ViewBag.Message</p>
}